version: '3'
services:
  postgres13:
    image: postgis/postgis:13-3.4-alpine
    environment:
      - ALLOW_IP_RANGE="172.0.0.0/8"
      - "POSTGRES_PASSWORD=docker"
      - "POSTGRES_USER=docker"
      - "POSTGRES_DB=gis"

  postgres15:
    image: postgis/postgis:15-3.4-alpine
    environment:
      - ALLOW_IP_RANGE="172.0.0.0/8"
      - "POSTGRES_PASSWORD=docker"
      - "POSTGRES_USER=docker"
      - "POSTGRES_DB=gis"

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-CU11-ubuntu-20.04
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: <YourStrong!Passw0rd>
    ports:
      - "1433:1433"

  qgis:
    build:
      context: ..
      dockerfile: ./.docker/Dockerfile
      args:
        QGIS_TEST_VERSION: ${QGIS_TEST_VERSION}
    tty: true
    volumes:
      - ${GITHUB_WORKSPACE}:/usr/src
    links:
      - postgres13
      - postgres15
      - mssql
